<div class="container box">
    <div class="row">
        <div>
            <h2 class="titulo">Bienvenido a la revisión de la prueba técnica</h2>
            <h3 class="titulo">Candidato: William Alejandro Ramos Carosi</h3>
            <h6 class="titulo2">A lo largo de esta prueba se hizo uso de Angular para el Front End y para una API en la ultima versión de Laravel.</h6>
            <h6 class="titulo2">Se hizo uso de la base de datos SQLite.</h6>
            <h6 class="titulo2">Se hizo uso de Bootstrap.</h6>
            <h6 class="titulo2">La página web es responsive.</h6>
        </div>
    </div>
</div>
